<div class="">
    <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
        <div class="uk-padding-large" id="leftloginModal">
            <img id="logo-image" src="https://hello.dubsado.com/images/Logo1(Transparent_bg).png" />
            <div class="spacer-50"></div>
            <h2 class="text-center">Log-in</h2>
            <p class="signuptext">Need an account? <a href="/admin/register">Sign up here.</a></p>
            <form class="login uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Email</label>
                    <div class="uk-form-controls">
                        <input class="uk-input email" id=" form-stacked-text" type="text" />
                    	<small id="username-feedback" class=""></small>

                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Password</label>
                    <div class="uk-form-controls">
                        <input class="uk-input passwrd" id=" form-stacked-text" type="password" />
                    	<small id="password-feedback" class=""></small>

                    </div>
                </div>
                <button class="uk-button uk-button-secondary uk-width-1-1" type="submit" value="Submit">Log In</button>
            </form>
        </div>
        <div class="uk-background-cover" id="right-image" uk-height-viewport></div>
    </div>
</div>