<div class="">
    <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
        <div class="uk-padding-large" id="leftloginModal">
            <img id="logo-image" src="https://hello.dubsado.com/images/Logo1(Transparent_bg).png" />
            <div class="spacer-50"></div>
            <h2 class="text-center">Create a new account</h2>

            <form class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="firstnamereg">First Name</label>
                    <div class="uk-form-controls" id="firstnamereg">
                        <input class="uk-input"  id="first-name" type="text"  equired="" />
                    	<small id="first-name-feedback" class=""></small>

                    </div>
                </div>
                <div class="uk-margin"id="lastnamereg">
                    <label class="uk-form-label" for="lastnamereg" id="">Last Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="last-name"  type="text" equired="" />
                    	<small id="last-name-feedback" class=""></small>

                    </div>
                </div>

                <div class="uk-margin" id="email-form">
                    <label class="uk-form-label" for="emailreg">Email</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="emailreg" type="text" equired="" />
                    	<small id="email-feedback" class=""></small>
                    	<small id="email-additional-feedback" class=""></small>

                    </div>
                </div>

                <div class="uk-margin" id="password-form">
                    <label class="uk-form-label" for="passwordreg">Password</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="passwordreg" type="password" equired="" />
                        <small id="password-feedback" class=""></small>

                    </div>
                </div>
                <button class="uk-button uk-button-secondary uk-width-1-1 signup" type="submit" value="Submit">Sign
                    Up</button>
                <p class="returntologin"><a href="/admin/login">Return to login</a></p>
            </form>
        </div>
        <div class="uk-background-cover" id="right-image-reg" uk-height-viewport></div>
    </div>
</div>