<section class="totalbkg">
    <!-- Nav Bar Part   -->
    <nav class="uk-margin navContainer">
        <div class="uk-container">
            <div class="uk-navbar">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-left uk-logo" href="#"><img
                            src="https://uploads-ssl.webflow.com/5d2cbb53b1d7890c7748f4c7/5d2cbb53b1d789872b48f552_dubsado-logo-nav-min.png"
                            class="dubNavLogo" /></a>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li class=""><a class="" id="navtext" href="#">Log in</a></li>

                        <li class=""><a id="navtext" href="#">Profile</a></li>
                        <div class="uk-navbar-right navtext">
                            <form action="javascript:void(0)">
                                <button class="uk-button uk-button-default" id="btnGreen1">New Appointment</button>
                            </form>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Center Div Part  -->
    <div class="uk-margin cenFullContainer">
        <div class="uk-container">
            <div class="centerContainerSch">
                <div id="calendarAdmin"></div>
            </div>
        </div>
    </div>
    <!-- Log-in Modal   -->

    <div id="modal-sections" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Modal Title</h2>
            </div>
            <div class="uk-modal-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum.
                </p>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-primary" type="button">Save</button>
            </div>
        </div>
    </div>
</section>