<section class="totalbkgCli">
    <!-- Nav Bar Part   -->
    <nav class="uk-margin navContainerCli">
        <div class="uk-container">
            <div class="uk-navbar">
                <div class="uk-navbar-center">
                    <p id="navtextClient">Greettings from admin_name</p>
                </div>
            </div>
        </div>
    </nav>
    <!-- Center Div Part  -->
    <div class="uk-margin cenFullContainerClient">
        <div class="uk-container">
            <div class="centerContainerCliSch">
                <div class="AboveCalBox">
                    <h2 class="clischheader">Choose a Date & Available Time for your Event!</h2>
                </div>
                <div id="calendarClient"></div>
                <div id="availhrs">
                    <div id="topdate">
                        <h3 id="dayofWeek"></h3>
                        <h6 id="datedisplay"></h6>
                    </div>
                    <div id="insideTimes">

                        <button class="availTimeBox" data-timeindex="0">9:00 AM</button>
                        <button class="availTimeBox" data-timeindex="1">9:30 AM</button>
                        <button class="availTimeBox" data-timeindex="2">10:00 AM</button>
                        <button class="availTimeBox" data-timeindex="3">10:30 AM</button>
                        <button class="availTimeBox" data-timeindex="4">11:00 AM</button>
                        <button class="availTimeBox" data-timeindex="5">11:30 AM</button>
                        <button class="availTimeBox" data-timeindex="6">12:00 PM</button>
                        <button class="availTimeBox" data-timeindex="7">12:30 PM</button>
                        <button class="availTimeBox" data-timeindex="8">1:00 PM</button>
                        <button class="availTimeBox" data-timeindex="9">1:30 PM</button>
                        <button class="availTimeBox" data-timeindex="10">2:00 PM</button>
                        <button class="availTimeBox" data-timeindex="11">2:30 PM</button>
                        <button class="availTimeBox" data-timeindex="12">3:00 PM</button>
                        <button class="availTimeBox" data-timeindex="13">3:30 PM</button>
                        <button class="availTimeBox" data-timeindex="14">4:00 PM</button>
                        <button class="availTimeBox" data-timeindex="15">4:30 PM</button>

                    </div>
                    <button id="confirmdatetime" href="#formModalSection" type="button" uk-toggle>Confirm Date and
                        Time</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Form Modal   -->
    <div id="formModalSection" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog" id="newEventModalTheme">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                <div class="uk-padding-large">
                    <h1>New Event Request:</h1>
                    <h3 id="dayofWeek2"></h3>
                    <h6 id="datedisplay2"></h6>
                    <h6 id="timedisplay"></h6>
                    <p>
                        Please fill out the form below to ensure we can schedule your event and accommodate your needs:
                    </p>
                    <form class="uk-form-stacked" id="newEventFormID">
                        <div class="uk-grid-large uk-form-stacked uk-margin" uk-grid>
                            <div class="uk-width-1-2@s">
                                <label class="uk-form-label" for="newEventFN">First Name</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="newEventFN" type="text" required />
                                </div>
                            </div>

                            <div class="uk-width-1-2@s">
                                <label class="uk-form-label" for="newEventLN">Last Name</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="newEventLN" type="text" required />
                                </div>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="newEventEmail">Email?:</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="newEventEmail" type="email" required />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="newEventIF1">Info Field 1</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="newEventIF1" type="text" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="newEventIF2">Info Field 2</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="newEventIF2" type="text" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="newEventITF">Info Text Field</label>
                            <div class="uk-form-controls">
                                <textarea id="newEventITF" class="uk-textarea" rows="3" /></textarea>
                            </div>
                        </div>

                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-primary" type="submit" id="submitFinishbtn"
                                href="/client/neweventconfirm">Submit and
                                Finish</button>
                        </div>
                    </form>
                </div>
                <div class="uk-background-cover"
                    style="background-image: url('https://blog.at-event.com/hubfs/sales%20meeting%20stock.jpg');"
                    uk-height-viewport></div>
            </div>
        </div>
    </div>

</section>