<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dubsado CRM for Creatives</title>
    <!-- CSS Page Link  -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--   Adobe Font Gibson-->
    <link rel="stylesheet" href="https://use.typekit.net/dwr2zlq.css" />
    <!--Ui Kit CSS-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://use.typekit.net/dwr2zlq.css" />
    <link href="../dependencies/fullcalendar/lib/main.css" rel="stylesheet" />

    <!--  Font Awesome  -->

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!--   -->

    <link href="../dependencies/fullcalendar/lib/main.css" rel="stylesheet" />
    <script src="../dependencies/fullcalendar/lib/main.js"></script>

</head>

<body>
    {{{ body }}}
    <!-- JS Scripts and SRC pages below -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- UiKit Core Javascript  -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="../assets/js/script.js"></script>
    <script src="/assets/js/adminscheduler.js"></script>
    <script src="/assets/js/clientscheduler.js"></script>
    <script src="/assets/js/launchpage.js"></script>
    <script src="/assets/js/login.js"></script>
    <script src="/assets/js/register.js"></script>
    <script src="/dependencies/fullcalendar/lib/main.js"></script>
</body>

</html>