<section class="totalbkg">
    <!-- Nav Bar Part   -->
    <nav class="uk-margin navContainer">
        <div class="uk-container">
            <div class="uk-navbar">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-left uk-logo" href="#"><img
                            src="https://uploads-ssl.webflow.com/5d2cbb53b1d7890c7748f4c7/5d2cbb53b1d789872b48f552_dubsado-logo-nav-min.png"
                            class="dubNavLogo" /></a>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li class=""><a class="" id="navtext" href="/admin/login">Log in</a></li>
                        <li class=""><a class="" id="navtext" href="/auth/signin">Azure Log in</a></li>

                        <li class=""><a id="navtext" href="">Profile</a></li>
                        <div class="uk-navbar-right navtext">
                            <form action="javascript:void(0)">
                                <button class="uk-button uk-button-default" id="btnGreen1">New Appointment</button>
                            </form>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Center Div Part  -->
    <div class="uk-margin cenFullContainer">
        <div class="uk-container">
            <div class="centerContainer">
                <!-- Add In Content Here for Main Page -->
            </div>
        </div>
    </div>

</section>